<div *ngFor="let item of items[2]" class="acd">
    <div class="acd-title">
        <span class='title'>{{ item.categoryName }}</span>
        <span class='title-count'>+ {{ item.eventsCount }}</span>
    </div>

    <div class="acd-dropdown">
        <span class="dropdown-title">ENGLAND</span>
        <span class="dropdown-count">+ 146</span>
    </div>

    <div class="acd-dropdown">
        <span class="dropdown-title">SPAIN</span>
        <span class="dropdown-count">+ 14</span>
    </div>

    <div class="acd-dropdown-dropdown"></div>
</div>