<ul class="acd">
    <li *ngFor="let category of accordionData; let i = index" class="acd-title" [ngClass]="{'is-active': activeIndex === i}">
        <div class="acd-title-box" (click)="toggleClass(i)">
            <span class="title">{{ category.name }}</span>
            <span class="title-count"> {{ category.eventsCount }}</span>
        </div>
        <ul>    
            <li *ngFor="let country of category.children; let j = index" class="acd-dropdown" [ngClass]="{'is-active': activeIndexInner === j}">
                <div class="acd-dropdown-box" (click)="toggleClassInner(j)">
                    <span class="dropdown-title">{{ country.name }}</span>
                    <span class="dropdown-count"> {{ country.eventsCount }}</span>
                </div>
                <ul>
                    <li class="acd-dropdown-dropdown" *ngFor="let championship of country.children">
                        <div class="acd-dropdown-dropdown-box">
                            <span class="dropdown-dropdown-check">
                                <input type="checkbox" disabled>
                            </span>
                            <span class="dropdown-dropdown-title">{{ championship.name }}</span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>